// <!--Sc Blog CSS -->
.sc-heading-area {
    .active {
        color: $primaryColor;
    }
}
.sc-blog-item {
    img {
        margin-bottom: 15px;
    }

    .sc-blog-text {
        display: block;
        margin-bottom: 25px;
        padding-top: 22px;
        .title {
            color: $titleColor;
            font-size: 30px;
            line-height: 40px;
            display: block;
            margin-bottom: 15px;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    .sc-blog-btn {
        .sc-transparent-btn {
            color: #6a6c71;
            padding: 12px 35px;
            &:hover {
                color: #fff;
            }
        }
    }
    .des {
        margin-bottom: 24px;
    }
}
.sc-blog-date-box {
    display: flex;
    position: relative;
    margin-top: -30px;
    box-shadow: 0px 1px 4px rgba(3, 4, 27, 0.06);
    align-items: flex-end;
    height: 45px;
    .sc-blog-text {
        margin-top: 20px;
    }
    .sc-blog-social {
        position: relative;
        padding-bottom: 9px;
        background: #fff;
        padding: 9px 20px;
        ul {
            li {
                display: inline-block;
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                i {
                    color: $primaryColor;
                    position: relative;
                    top: 3px;
                    margin-right: 5px;
                }
                .icon-consoltancy {
                    font-size: 17px;
                    top: 2px;
                }
            }
            .icon-consoltancy {
                font-size: 14px;
            }
        }
    }
    .sc-date-box {
        background: $primaryColor;
        display: inline-block;
        position: relative;
        min-width: 70px;
        height: 80px;
        padding-top: 8px;
        text-align: center;
        margin-top: -18px;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 5px;
            background: #ff6977;
        }
        .title {
            font-weight: 700;
            font-size: 27px;
            color: #fff;
            margin-bottom: 0;
        }
        .sub-title {
            text-transform: uppercase;
            color: #fff;
        }
    }
}
// sc-blog-content-area
.sc-blog-item {
    .sc-blog-text,
    .sc-blog-date-box {
        margin-left: 12px;
    }
    .sc-blog-text {
        position: relative;
        a {
            color: $titleColor;
        }
        .title {
            font-size: 24px;
        }
    }
}
.sc-blog-video-image {
    position: relative;
    .sc-blog-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        i {
            font-size: 25px;
            color: #fff;
            width: 80px;
            height: 80px;
            line-height: 74px;
            text-align: center;
            display: inline-block;
            border: 5px solid rgba($color: #fff, $alpha: 0.5);
            border-radius: 50%;
        }
    }
}
.sc-blog-navigation {
    .list-gap {
        li {
            display: inline-block;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            a {
                text-transform: uppercase;
                color: $titleColor;
                font-weight: 600;
                font-size: 14px;
                text-align: center;
                &:hover {
                    color: $bodyColor;
                }
            }
            .navigation-border {
                width: 50px;
                height: 56px;
                line-height: 56px;
                border-radius: 25px;
                border: 2px solid #eef0f1;
                display: inline-block;
                &.active,
                &:hover {
                    background: $primaryColor;
                    border-color: $primaryColor;
                    color: #fff;
                }
            }
        }
    }
}
.sc-blog-style2 {
    .sc-blog-date-box {
        position: relative;
        margin: -58px 20px 0;
        margin-left: 12px;
    }
    .sc-blog-text {
        background: #f7f7f7;
        padding: 25px 20px 0px;
        margin-bottom: 0;
        margin-top: 25px;
        position: relative;
        border-left: 3px solid #6a6c71;
        .title {
            color: $titleColor;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    .sc-blog-btn {
        margin-top: 20px;
        .sc-transparent-btn {
            margin-bottom: -30px;
            background: #fff;
        }
    }
}
.sc-blog-slider {
    .sc-blog-style2 {
        padding-bottom: 24px;
    }
}
// sc-blog-details-content-area
.sc-blog-details-content-area {
    .detail-title {
        font-size: 30px;
    }
    .sc-blog-item {
        .sc-details-quote-text {
            .sc-details-icon {
                i {
                    font-size: 45px;
                    color: $primaryColor;
                    margin-right: 20px;
                }
            }
            .sc-quote-text {
                .sc-quote {
                    font-weight: 600;
                    font-size: 20px;
                    color: $titleColor;
                    font-family: $titleFont;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }
    .sc-details-check-text {
        border-bottom: 1px solid #eef0f1;
        padding-bottom: 40px;
        margin-bottom: 25px;
        .sc-check {
            .list-gap {
                li {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    i {
                        font-size: 16px;
                        margin-right: 10px;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    }
    .sc-detaile-tags-list {
        border-bottom: 1px solid #eef0f1;
        padding-bottom: 25px;
        margin-bottom: 40px;
        .sc-blog-text {
            .title {
                color: $bodyColor;
                font-weight: 500;
                @include transition();
                &:hover {
                    color: $titleColor;
                }
            }
            span {
                color: $titleColor;
                font-weight: 500;
                @include transition();
                &:hover {
                    color: $bodyColor;
                }
            }
        }
        .sc-detail-social {
            .list-gap {
                li {
                    display: inline-block;
                    i {
                        color: #03041c;
                        font-size: 16px;
                        margin-left: 15px;
                        @include transition();
                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
    }
    .sc-details-auother {
        .sc-details-image {
            img {
                width: 400px;
                min-height: 210px;
            }
        }
        .sc-auother-content {
            background: #f7f7f7;
            padding: 33px 35px 10px;
            h5 {
                margin-bottom: 5px;
            }
            .title {
                color: $titleColor;
                @include transition();
                &:hover {
                    color: $primaryColor;
                }
            }
            .sub-title {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                color: $primaryColor;
                display: block;
                margin-bottom: 20px;
            }
        }
    }
    .sc-comment-conntent-area {
        .sc-details-comment-auother {
            .sc-comment-text {
                position: relative;
                top: 10px;
                h5 {
                    margin-bottom: 5px;
                }
                .title {
                    color: $titleColor;
                    @include transition();
                    &:hover {
                        color: $primaryColor;
                    }
                }
                .sub-title {
                    font-size: 14px;
                    color: $primaryColor;
                    font-weight: 500;
                    display: block;
                    margin-bottom: 10px;
                }
            }
            .sc-reply-text {
                min-width: 55px;
                .reply-text {
                    color: $titleColor;
                    font-weight: 600;
                    font-size: 16px;
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
    }
}
// sc-pages-area
.sc-blog-widget-inner {
    .sc-blog-title {
        i {
            color: $primaryColor;
        }
    }
    .sc-searchbar-area {
        position: relative;
        height: 70px;
        border: 2px solid #eeeff1;
        border-radius: 2px;
        max-width: 100%;
        .input-field,
        [type="email"] {
            width: 100%;
            padding: 10px 20px;
        }
        [type="submit"] {
            font-size: 0;
            width: 60px;
            height: 60px;
            padding: 0;
            background: $primaryColor;
        }
        .sc-primary-btn {
            padding: 0;
            right: 2px;
            min-width: 60px;
            i {
                color: #fff;
                position: absolute;
                right: 19px;
                top: 19px;
            }
            &::after {
                display: none;
            }
        }
    }
    .sc-blog-category {
        border: 2px solid #eef0f1;
        padding: 35px 40px;
        .category-list {
            ul {
                li {
                    border-bottom: 1px solid #eef0f1;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    @include transition();
                    &:last-child {
                        border: none;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                    a {
                        color: $bodyColor;
                    }

                    span {
                        i {
                            float: right;
                            font-size: 12px;
                            position: relative;
                            top: 5px;
                        }
                    }
                    &:hover {
                        border-color: $primaryColor;
                        a {
                            color: $primaryColor;
                        }
                        i {
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
    }
    .sc-blog-post {
        border: 2px solid #eef0f1;
        padding: 35px 35px 30px;
        .sc-post-auother {
            border-bottom: 1px solid #eef0f1;
            padding-bottom: 20px;
            margin-bottom: 20px;
            &:last-child {
                border: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        .auother-text {
            i {
                font-size: 16px;
                margin-right: 5px;
                position: relative;
                top: 1px;
            }
            a {
                color: $titleColor;
                font-size: 18px;
                @include transition();
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
    .sc-blog-instagram {
        border: 2px solid #eef0f1;
        padding: 35px 30px 35px 35px;
        .sc-blog-instagram-img {
            gap: 10px;
            display: flex;
            flex-wrap: wrap;
            img {
                width: 110px;
                height: 100px;
                border-radius: 5px;
            }
        }
    }
    .sc-blog-tag {
        border: 2px solid #eef0f1;
        padding: 35px 10px 10px 35px;
        .sc-blog-tags {
            ul {
                li {
                    display: inline-block;
                    margin-bottom: 35px;
                    margin-right: 5px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        background: #f4f4f4;
                        color: $bodyColor;
                        padding: 14px 25px;
                        @include transition();
                        &:hover {
                            background: $primaryColor;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
