// <!--Sc Business CSS -->
.sc-business-section-area {
    background: url(../images/banner/business_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .sc-heading-area {
        margin-bottom: 65px;
        .sub-title {
            color: #fff;
        }
    }
}
.sc-business-item {
    position: relative;
    cursor: pointer;
    .sc-icon {
        position: relative;
        margin-bottom: 55px;
        @include transition(0.6s);
        top: 0;
        i {
            background: $primaryColor;
            display: inline-block;
            border-radius: 3px;
            color: #fff;
            width: 90px;
            line-height: 85px;
            font-size: 45px;
            height: 85px;
        }
        .triangle-down {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 30px solid $primaryColor;
        }
    }
    .sc-business-text {
        background: #353950;
        padding: 40px 35px 20px;
        transition: 0.4s;

        .title {
            display: block;
            margin-bottom: 15px;
        }
        .des {
            color: #d6d7e5;
        }
    }
    .shape-image {
        position: absolute;
        top: 0;
        right: -60px;
    }
    &:hover {
        .sc-icon {
            top: 7px;
        }
        .sc-business-text {
            background: $whiteColor;
            .title {
                color: $titleColor;
            }
            .des {
                color: #6a6c71;
            }
        }
    }
}
