// <!--Sc Company CSS -->
.sc-company-section-area {
    background: url(../images/bg/company-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 225px;
}
