// <!--Sc Team CSS -->
.sc-team-section-area {
    background: url(../images/bg/team_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sc-team-section-area {
    padding-top: 210px;
    margin-top: -110px;
}
// sc-team-style-two
.sc-team-style-two {
    background: url(../images/bg/team-bg-two.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 245px;
    position: relative;
    margin-top: -195px;
    .container-fluid {
        padding-right: 0;
    }
}
// sc-team-style-three
.sc-team-style-three {
    padding-top: 100px;
    margin-top: 0;
}
.sc-team-item {
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(3, 4, 27, 0.04);
    padding: 20px;
    .sc-team-content {
        .title {
            color: $titleColor;
            transition: 0.4s;
            &:hover {
                color: $primaryColor;
            }
        }
        span {
            font-weight: 400;
            font-size: 16px;
            color: #6a6c71;
        }
    }
}

.sc-team-item {
    .team-image {
        overflow: hidden;
        margin-bottom: 40px;
    }
    .item-img {
        position: relative;
        margin-bottom: 10px;
        img {
            transform: scale(1);
            @include transition(0.8s);
        }
    }
    &:hover {
        .item-img {
            img {
                transform: scale(1.2);
            }
        }
    }
}

.sc-team-item .team-social-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
}
.sc-team-item .team-social-1 .social-item {
    position: relative;
}
.sc-team-item:hover .team-social-1 .social-item .team-social-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.sc-team-item .team-social-1 .social-item .social-hover-icon i {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(3, 4, 27, 0.08);
    color: #6a6c71;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    transition: 0.4s;
}
.sc-team-item:hover .team-social-1 .social-item .social-hover-icon i {
    background-color: $primaryColor;
    color: #ffffff;
}
.sc-team-item .team-social-1 .social-item .team-social-dropdown {
    position: absolute;
    bottom: 40px;
    left: 0;
    transition: all ease 0.4s;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transform-origin: bottom center;
    transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
}
.sc-team-item .team-social-1 .social-item .team-social-dropdown .social-item {
    display: block;
    margin-bottom: 4px;
}
.sc-team-item .team-social-1 .social-item .team-social-dropdown .social-item1 {
    position: relative;
    top: -10px;
}
.sc-team-item .team-social-1 .social-item .team-social-dropdown .social-item .social-link i {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(3, 4, 27, 0.08);
    color: #6a6c71;
    font-size: 18px;
    transition: 0.4s;
    border: none;
    border-radius: 50%;
}
.sc-team-item .team-social-1 .social-item .team-social-dropdown .social-item .social-link i:hover {
    background-color: $primaryColor;
    color: #ffffff;
}
.sc-team-content-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .sc-team-left-content {
        flex: 0 0 auto;
        width: 35%;
        max-width: 685px;
    }
    .sc-team-slider-area {
        flex: 0 0 auto;
        width: 68%;
        margin-right: -90px;
        .sc-team-slider {
            .sc-slider-item {
                background: #353950;
                border-radius: 5px 5px 0px 0px;
                padding: 40px 45px 65px;
                @include transition();
                img {
                    margin-bottom: 23px;
                }
                .sc-slider-text {
                    .title {
                        margin-bottom: 5px;
                    }
                }
            }
            .sc-slider-btn {
                .sc-white-btn-two {
                    display: block;
                    margin: 0 24px;
                }
                position: relative;
                margin-top: -30px;
            }
            &:hover {
                .sc-slider-item {
                    background: $whiteColor;
                }
                .sc-slider-text {
                    .title {
                        color: $titleColor;
                    }
                    .sub-title {
                        color: #6a6c71;
                    }
                }
                .sc-slider-btn {
                    .sc-white-btn-two {
                        color: #ffffff;
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .swiper-pagination {
            text-align: left;
            left: 200px;
        }
        .swiper-wrapper {
            padding-bottom: 85px;
        }
        .swiper-pagination-bullet-active {
            background: $primaryColor;
            border-color: $primaryColor;
        }
    }
}
// sc-team-pages-content-box
.sc-team-slider-pages-area {
    .sc-blog-slider {
        padding-top: 190px;
        img {
            margin-top: -230px;
            margin-bottom: 25px;
        }
    }
    .sc-pages-text-area {
        .sc-team-pages-content-box {
            background: #f7f7f7;
            border-radius: 5px 5px 0px 0px;
            padding: 70px 45px 45px;
            position: relative;
            @include transition();
        }
        .sc-slider-item {
            .sc-slider-text {
                margin-bottom: 25px;
                .title {
                    margin-bottom: 5px;
                    color: $titleColor;
                    @include transition();
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
        .sc-slider-btn {
            position: relative;
            margin-top: -43px;
            .sc-white-btn-two {
                display: block;
                margin: 0 24px;
                padding: 27px 51px;
                font-size: 20px;
                border-radius: 40px;
                &::after {
                    background: #ffffff;
                    box-shadow: 0px 1px 4px rgba(3, 4, 27, 0.06);
                    border-radius: 40px;
                }
            }
        }
        &:hover {
            .sc-slider-btn {
                .sc-white-btn-two {
                    color: #ffffff;
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}
// sc-team-pages-content-box
.sc-team-pages-content-box {
    .sc-page-item {
        @include transition();
        background: #f7f7f7;
        border-radius: 5px 5px 0px 0px;
        padding: 40px 45px 65px;
        img {
            margin-bottom: 25px;
        }
        .sc-slider-text {
            .title {
                margin-bottom: 5px;
                color: $titleColor;
                @include transition();
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
    .sc-page-btn {
        position: relative;
        margin-top: -43px;
        .sc-white-btn-two {
            display: block;
            margin: 0 24px;
            padding: 27px 51px;
            font-size: 20px;
            border-radius: 40px;
            &::after {
                background: #ffffff;
                box-shadow: 0px 1px 4px rgba(3, 4, 27, 0.06);
                border-radius: 40px;
            }
        }
    }
    &:hover {
        .sc-page-btn {
            .sc-white-btn-two {
                color: #ffffff;
                &::before {
                    width: 100%;
                }
            }
        }
    }
}
// sc team details
.sc-team-content {
    position: relative;
}
.sc-team-content .inner-column {
    position: relative;
}
.sc-team-content .inner-column .student-list {
    position: relative;
    margin-top: 25px;
    margin-bottom: 10px;
}
.sc-team-content .inner-column .student-list li {
    position: relative;
    color: #393939;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
    margin-right: 80px;
    display: inline-block;
    list-style: disc;
    margin-bottom: 20px;
}
.sc-team-content .inner-column .student-list li .fa {
    color: #4285f4;
    margin: 0px 2px;
}
.sc-team-content .inner-column .student-list li:last-child {
    margin-right: 0px;
}
.sc-team-content .personal-info {
    margin-bottom: 20px;
    padding-left: 0;
}
.sc-team-content .personal-info li {
    display: block;
    padding-bottom: 25px;
    font-size: 20px;
    @include transition();
    color: $bodyColor;
}
.sc-team-content .personal-info li a {
    font-size: 20px;
    color: $bodyColor;
}
.sc-team-content .personal-info li:hover i {
    background: $primaryColor;
    color: $whiteColor;
    border-color: $primaryColor;
}
.sc-team-content .personal-info li:hover a {
    color: $primaryColor;
}
.sc-team-content .personal-info li i {
    font-size: 18px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    border: 1px solid $bodyColor;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}
.sc-details-social {
    position: relative;
}
.sc-details-social .inner-column {
    position: relative;
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
.sc-details-social .inner-column .image {
    position: relative;
}
.sc-details-social .inner-column .image img {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
}
.sc-details-social .team-content .team-title {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}
.sc-details-social .team-content .text {
    position: relative;
    font-size: 20px;
    line-height: 1.7em;
    margin-bottom: 15px;
}
.sc-details-social .social-box {
    position: relative;
    text-align: center;
}
.sc-details-social .social-box a i {
    position: relative;
    color: $bodyColor;
    font-size: 18px;
    width: 40px;
    border: 1px solid $bodyColor;
    border-radius: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0px 5px;
    display: inline-block;
    @include transition();
}
.sc-details-social .social-box a i:hover {
    color: $whiteColor;
    background: $primaryColor;
    border-color: $primaryColor;
}
.browse-course-section {
    position: relative;
    margin-top: 50px;
}
.browse-course-section .styled-pagination {
    margin-top: 20px;
}
.skill-title {
    font-size: 25px;
    margin-top: 15px;
}
.rs-progress {
    height: 8px;
    border: 1px solid $primaryColor;
    border-radius: 0;
    overflow: visible;
    padding: 1px;
    background: #fff;
    margin-top: 25px;
}
.rs-progress + .rs-progress {
    margin-top: 75px;
}
.rs-progress .progress-bar {
    position: relative;
    text-align: left;
    line-height: 4px;
    border-radius: 0;
    box-shadow: none;
    background-color: $primaryColor;
    overflow: visible;
}
.rs-progress .progress-bar .pb-label {
    position: absolute;
    left: 0px;
    top: -24px;
    color: #666;
    font-size: 15px;
    font-weight: 600;
}
.rs-progress .progress-bar .pb-percent {
    position: absolute;
    right: -13px;
    font-weight: 500;
    color: #fff;
    font-size: 10px;
    top: -30px;
    background: $primaryColor;
    padding: 8px 5px;
}
.rs-progress .progress-bar .pb-percent:after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    left: 50%;
    border-top-color: $primaryColor;
    top: 20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
