//  01 global Style

html,
body {
    font-size: 16px;
    color: $bodyColor;
    font-family: $bodyFont;
    font-weight: 400;
    line-height: 1.6;
    overflow-x: hidden;
}
input,
textarea,
select {
    border: 0;
    background: transparent;
    transition: 0.4s;
    &:focus {
        outline: none;
    }
}
a {
    transition: 0.4s;
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    color: $titleColor;
    line-height: 1.35;
}
h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.2;
}
h2 {
    font-weight: 700;
    font-size: 45px;
}
h3 {
    font-weight: 700;
    font-size: 40px;
}
h4 {
    font-weight: 700;
    font-size: 22px;
}
h5 {
    font-weight: 700;
    font-size: 20px;
}
h6 {
    font-weight: 500;
    font-size: 16px;
}
input:focus,
select:focus,
textarea:focus {
    outline: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}
::-moz-selection {
    background: $primaryColor;
    text-shadow: none;
    color: #ffffff;
}
::selection {
    background: $primaryColor;
    text-shadow: none;
    color: #ffffff;
    border: none;
}
.list-gap {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sc-border-radius {
    border-radius: 5px;
}
.sc-long-width {
    width: 130%;
}
// sc-heading-area//
.sc-heading-area {
    .sub-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #6e7075;
        font-family: $bodyFont;
        display: block;
        margin-bottom: 5px;
    }
    .icon-line {
        color: $primaryColor;
        font-size: 18px;
        position: relative;
        top: 3px;
    }
    .title {
        display: block;
        margin-bottom: 25px;
    }
}

.white-sub-title {
    color: #d6d7e5 !important;
}
.italic {
    font-style: italic;
}
.primary-color {
    color: $primaryColor;
}
.sc-sub-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    font-family: $titleFont;
}
.p-z-idex {
    position: relative;
    z-index: 3 !important;
}
.p-z-idex2 {
    position: relative;
    z-index: 11 !important;
}
.border-radius-right-5 {
    border-radius: 0 5px 5px 0;
}
.border-radius-top-5 {
    border-radius: 5px 5px 0 0;
}
.margin_top {
    margin-top: -40px;
}
//bg-color
.white-bg-color {
    background: #ffffff;
}
.primary-bg-color {
    background: #e42032;
}
.gray-bg-color {
    background: #f7f7f7;
}

// color-//
.white-color {
    color: $whiteColor;
}
// primary-btn
@mixin btnStyle($primaryColor) {
    color: $whiteColor;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 15px 50px;
    border-radius: 50px;
    text-align: center;
    text-transform: capitalize;
    background: $primaryColor;
    @media screen and (max-width: 767px) {
        padding: 10px 30px;
    }
    span {
        color: $whiteColor;
        position: relative;
        z-index: 2;
    }
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        content: "";
        width: 20px;
        height: 20px;
        background-color: $secondaryColor;
        border-radius: 50%;
        color: $whiteColor;
    }
    &::before {
        left: -20px;
        transform: translate(-50%, -50%);
    }
    &::after {
        right: -20px;
        transform: translate(50%, -50%);
    }
    &:hover {
        color: $whiteColor;
        &::before {
            -webkit-animation: criss-cross-left 0.8s both;
            animation: criss-cross-left 0.8s both;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
        &::after {
            -webkit-animation: criss-cross-right 0.8s both;
            animation: criss-cross-right 0.8s both;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
    }
}

// sc-primary-btn
.sc-primary-btn {
    display: inline-block;
    padding: 13px 35px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primaryColor;
        border-radius: 3px;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $secondaryColor;
        transition: all 0.3s;
        border-radius: 3px;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

// sc-primary-btn
.price-active {
    display: inline-block;
    padding: 13px 35px;
    border-radius: 26px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    background: $secondaryColor;
    position: relative;
    z-index: 9;
    &:hover {
        color: #fff;
    }
}

// sc-transparent-btn
.sc-transparent-btn {
    display: inline-block;
    padding: 13px 35px;
    color: $titleColor;
    font-weight: 600;
    transition: all 0.5s;
    border: 2px solid #eeeff1;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after,
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.4s;
        border-radius: 3px;
    }
    &:after {
        background-color: transparent;
        z-index: -2;
    }
    &:before {
        background-color: $primaryColor;
        z-index: -1;
        width: 0;
    }
    &:hover {
        border-color: transparent;
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

// sc-secondary-btn
.sc-secondary-btn {
    display: inline-block;
    padding: 17px 32px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $secondaryColor;
        border-radius: 3px;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $whiteColor;
        transition: all 0.3s;
        border-radius: 3px;
        z-index: -1;
    }
    &:hover {
        color: $bodyColor;
        &:before {
            width: 100%;
        }
    }
}
// sc-secondary-btn
.sc-submit {
    display: inline-block;
    padding: 17px 32px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    border: none;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $secondaryColor;
        border-radius: 3px;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $whiteColor;
        transition: all 0.3s;
        border-radius: 3px;
        z-index: -1;
    }
    &:hover {
        color: $bodyColor;
        &:before {
            width: 100%;
        }
    }
}
// sc-secondary-btn
.sc-footer-submit {
    display: inline-block;
    padding: 17px 32px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    border: none;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primaryColor;
        border-radius: 3px;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $secondaryColor;
        transition: all 0.3s;
        border-radius: 3px;
        z-index: -1;
    }
    &:hover {
        color: $bodyColor;
        &:before {
            width: 100%;
        }
    }
}
// sc-secondary-btn
.sc-secondary-btn-two {
    display: inline-block;
    padding: 17px 32px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primaryColor;
        border-radius: 3px;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $whiteColor;
        transition: all 0.3s;
        border-radius: 3px;
        z-index: -1;
    }
    &:hover {
        color: $bodyColor;
        &:before {
            width: 100%;
        }
    }
}

// sc-primary-btn
.sc-primary-btn-two {
    display: inline-block;
    padding: 24px 0;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $secondaryColor;
        border-radius: 0;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $primaryColor;
        transition: all 0.3s;
        border-radius: 0;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

// sc-primary-btn
.sc-primary-btn-three {
    display: inline-block;
    padding: 13px 35px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primaryColor;
        border-radius: 3px;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $whiteColor;
        transition: all 0.3s;
        border-radius: 3px;
        z-index: -1;
    }
    &:hover {
        color: $bodyColor;
        &:before {
            width: 100%;
        }
    }
}

// sc-primary-btn
.sc-white-btn {
    display: inline-block;
    padding: 17px 51px;
    border-radius: 3px;
    color: $titleColor;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $whiteColor;
        border-radius: 3px;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $primaryColor;
        transition: all 0.3s;
        border-radius: 3px;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}
// sc-primary-btn
.sc-white-btn-two {
    display: inline-block;
    padding: 17px 51px;
    border-radius: 40px;
    color: $titleColor;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f7f7f7;
        border-radius: 40px;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $primaryColor;
        transition: all 0.3s;
        border-radius: 40px;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

body {
    [class^="icon-"],
    [class*=" icon-"] {
        color: $bodyColor;
        font-size: 20px;
        &::before {
            color: unset;
        }
    }
}
// section-shape
.section-shape {
    background: url(../images/bg/section-bg.jpg);
}
.section-shape2 {
    background: url(../images/bg/section-shape.png);
}
.section-shape,
.section-shape2 {
    background-position: top right;
    background-repeat: no-repeat;
}
.section-shape2 {
    background-position: 100% -135px;
}
// sc-bg-image
.sc-services-bg-left {
    left: 0;
    background: url(../images/bg/service-bg1.png);
    background-position: center right;
    width: 70%;
}
.sc-services-bg-right {
    right: 0;
    background: url(../images/bg/service-bg2.jpg);
    background-position: center left;
    width: 30%;
}
.sc-services-bg-left,
.sc-services-bg-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
// sc-bg-image
.sc-services-bg-left-one {
    left: 0;
    background-image: url(../images/bg/process-bg2.jpg);
    background-position: center right;
    width: 100%;
}
.sc-services-bg-right-one {
    right: 0;
    background-image: url(../images/bg/process-bg.jpg);
    background-position: center left;
    width: 48%;
}

.sc-services-bg-left-one,
.sc-services-bg-right-one {
    position: absolute;
    right: -10px;
    bottom: 0;
    z-index: 1;
    background-repeat: no-repeat;
    height: 100%;
}
.sc-services-bg-left-one {
    bottom: 0;
    height: 77.5%;
}
.sc-services-bg-right-one {
    bottom: 94px;
    height: 90%;
}

.sc-services-bg-right-two {
    right: 0;
    background-image: url(../images/bg/process-bg.jpg);
    background-position: center left;
    width: 48%;
}

.sc-services-bg-right-two {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-repeat: no-repeat;
    height: 100%;
}

.sc-services-bg-right-two {
    bottom: 94px;
    height: 90%;
}

.sc-services-bg-right-three {
    right: 0;
    background-image: url(../images/process/project-bg.jpg);
    background-position: center left;
    width: 48%;
}

.sc-services-bg-right-three {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-repeat: no-repeat;
    height: 100%;
}

.sc-services-bg-right-three {
    bottom: 94px;
    height: 79%;
}
// sc-services-bg-right-four
.sc-services-bg-right-four {
    right: 0;
    background-image: url(../images/project/choose-bg.jpg);
    background-position: center left;
    width: 48%;
}

.sc-services-bg-right-four {
    position: absolute;
    right: -10px;
    bottom: 0;
    z-index: 1;
    background-repeat: no-repeat;
    height: 100%;
}

.sc-services-bg-right-four {
    bottom: 90px;
    height: 94%;
}

// sc-swiper-slider-btn
.swiper-button-next,
.swiper-button-prev {
    transition: 0.6s;
    opacity: 0;
    visibility: hidden;
    &:after {
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        font-size: 15px;
        background: #ffffff;
        box-shadow: 0px 2px 10px rgba(3, 4, 27, 0.08);
        min-width: 50px;
        color: #6a6c71;
        height: 50px;
        line-height: 52px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        transition: 0.4s;
    }
    &:hover {
        &:after {
            background: $primaryColor;
            color: #fff;
        }
    }
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    pointer-events: unset;
    cursor: pointer;
}
.swiper {
    .swiper-button-prev {
        left: 80px;
    }
    .swiper-button-next {
        right: 80px;
    }
    &:hover {
        .swiper-button-next,
        .swiper-button-prev {
            opacity: 1;
            visibility: visible;
        }
        .swiper-button-prev {
            left: 40px;
        }
        .swiper-button-next {
            right: 40px;
        }
    }
}
.sc-pagination-active {
    margin-left: -25px;
    margin-right: -25px;
    padding: 0 24px;
    &:hover {
        .swiper-button-prev {
            left: 15px;
        }
        .swiper-button-next {
            right: 15px;
        }
    }
}
.sc-pagination-active-30 {
    margin-left: -28px;
    margin-right: -28px;
    padding: 0 28px;
    &:hover {
        .swiper-button-prev {
            left: 15px;
        }
        .swiper-button-next {
            right: 15px;
        }
    }
    &.sc-blog-slider {
        .swiper-button-next,
        .swiper-button-prev {
            top: 24%;
        }
    }
}
.sc-team-section-area {
    &.sc-blog-slider {
        .swiper-button-next,
        .swiper-button-prev {
            top: 30%;
        }
    }
}
// sc-arrow-btn
.sc-arrow-btn {
    .swiper-button-next,
    .swiper-button-prev {
        transition: 0.6s;
        visibility: visible;
        opacity: 1;
        position: absolute;
        bottom: 0;
        &:after {
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            font-size: 15px;
            background: #fff;
            box-shadow: 0px 2px 10px rgba(3, 4, 27, 0.08);
            min-width: 54px;
            color: $bodyColor;
            height: 40px;
            line-height: 40px;
            border-radius: 0px 20px 20px 0px;
            display: inline-block;
            text-align: center;
            transition: 0.5s;
        }
        &:hover {
            &:after {
                background: $primaryColor;
                color: #fff;
            }
        }
    }
    .swiper-button-prev {
        &:after {
            border-radius: 20px 0 0 20px;
        }
    }
    .swiper {
        .swiper-button-prev {
            left: 50%;
            bottom: 15px;
            top: auto;
        }
        .swiper-button-next {
            right: 35%;
            bottom: 15px;
            left: auto;
            top: auto;
        }
    }
    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        pointer-events: unset;
        cursor: pointer;
    }
    .sc-pagination-active-30 {
        margin-left: -28px;
        margin-right: -28px;
        padding: 0 28px;
    }
}
// Shopping Cart

.sc-overlay-bg2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.sc-product-offcanvas-area {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    z-index: 9999;
    background: $titleColor;
    padding: 30px 30px 30px;
    right: -450px;
    opacity: 0;
    visibility: visible;
    transition: 0.4s;
    .sc-offcanvas-header {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 35px;
        margin-bottom: 30px;
        .offcanvas-title {
            .product-title {
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
    .sc-offcanvas-list-info {
        margin-bottom: 30px;
        .product-title {
            display: block;
            margin-bottom: 15px;
        }
        ul {
            li {
                line-height: 3.7;
                i {
                    border: 1px solid #e5e5e5;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    display: inline-block;
                    margin-right: 15px;
                    transition: 0.4s;
                    position: relative;
                    top: 4px;
                }
                a {
                    color: $bodyColor;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: $titleFont;
                }
                &:hover {
                    i {
                        color: #fff;
                        background: $primaryColor;
                        border-color: transparent;
                    }
                    a {
                        color: $primaryColor;
                    }
                }
            }
        }
    }
    .contact-map {
        margin-bottom: 27px;
        display: block;
        iframe {
            height: 200px;
        }
    }
    .sc-offcanvas-icon-list {
        margin-bottom: 20px;
        ul {
            li {
                display: inline-block;
                padding-right: 5px;
                i {
                    background: $titleColor;
                    color: #fff;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 15px;
                    border-radius: 50%;
                    text-align: center;
                    transition: 0.4s;
                    &:hover {
                        background: $primaryColor;
                    }
                }
            }
        }
    }
}

.cart_expanded {
    .sc-product-offcanvas-wrapper {
        right: 0;
    }
    .sc-product-offcanvas-wrapper,
    .sc-overlay-bg {
        opacity: 1;
        visibility: visible;
    }
}

// <!--Sc Product Offcanvas Wrapper Start -->
.canvas_expanded {
    .sc-product-offcanvas-area {
        right: 0;
    }
    .sc-overlay-bg2 {
        opacity: 1;
        visibility: visible;
    }
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

// Translate
@mixin transition($transition: 0.4s) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
}

@mixin transitionEase($transition: 1s) {
    transition: $transition all ease;
    -webkit-transition: $transition all ease;
    -moz-transition: $transition all ease;
}

@mixin transitionFade() {
    -webkit-transition: opacity 1700ms ease-in, -webkit-transform 8000ms ease;
    transition: opacity 1700ms ease-in, -webkit-transform 8000ms ease;
    transition: transform 8000ms ease, opacity 1700ms ease-in;
    transition: transform 8000ms ease, opacity 1700ms ease-in, -webkit-transform 8000ms ease;
}

// Border Style
@mixin borderStyle($width: 1px, $color: #333) {
    border: $width solid $color;
}
.priary-borer {
    @include borderStyle();
    @include transition($transition: 0.3s);
}

/* -----------------------
    17. Scroll Up CSS
--------------------------*/
#scrollUp {
    text-align: center;
    bottom: 40px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 20px;
    z-index: 999;
    border-radius: 50px 50px 4px 4px;
    i {
        background: $primaryColor;
        border-radius: 50%;
        height: 40px;
        font-size: 13px;
        font-weight: 400;
        width: 40px;
        color: #fff;
        line-height: 40px;
        @include transition();
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
        display: block;
        transform: rotate(-90deg);
        &:hover {
            background-color: $secondaryColor;
        }
    }
}
body {
    .search-modal {
        .modal-content {
            background: transparent;
            position: initial;
            border: 0;
            position: relative;
        }
        .search-block {
            input {
                height: 60px;
                line-height: 60px;
                padding: 0;
                background: transparent;
                border-width: 0 0 1px 0;
                border-radius: 0;
                border-color: rgba(255, 255, 255, 0.4);
                box-shadow: none;
                color: #ffffff;
                font-weight: 600;
                font-size: 18px;
            }
        }
        button {
            background: none;
            border: none;
            border: none;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 99;
            svg {
                background-color: transparent;
                path {
                    fill: $primaryColor;
                    opacity: 1;
                    outline: none;
                    transition: 0.4s;
                    font-size: 24px;
                }
            }
        }
    }
    .modal-backdrop {
        opacity: 0.95 !important;
    }
}

.shake-y {
    -webkit-animation: shakeY 5s ease-in-out infinite;
    animation: shakeY 5s ease-in-out infinite;
}
.pulse {
    -webkit-animation: pulse 3s ease-in-out infinite;
    animation: pulse 3s ease-in-out infinite;
}

.skew-spin {
    -webkit-animation: skewSpin 5s linear infinite;
    animation: skewSpin 5s linear infinite;
}
.left-right-rotate {
    animation: rotated-style3 2s infinite alternate;
}

/***********************************
PAGE LOAD ANIMATION
***********************************/
.preloader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: default;
    position: fixed;
    z-index: 9999999;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
}
.preloader .animation-preloader {
    z-index: 1000;
}
.preloader .animation-preloader .spinner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 3px solid #ebebec;
    border-radius: 50%;
    text-align: center;
    line-height: 94px;
    &::before {
        position: absolute;
        content: "";
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-top: 3px solid $primaryColor;
        border-radius: 50%;
        animation: loaderspin 1.8s infinite ease-in-out;
        -webkit-animation: loaderspin 1.8s infinite ease-in-out;
    }
}
@media (max-width: 767px) {
    .preloader .animation-preloader .spinner {
        width: 7.5em;
        height: 7.5em;
        margin: 0 auto 1.5em auto;
    }
}
.preloader .animation-preloader .txt-loading {
    font-size: 80px;
    line-height: 118px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    margin-top: 170px;
}
@media (max-width: 767px) {
    .preloader .animation-preloader .txt-loading {
        font-size: 50px;
        line-height: 77px;
    }
}
@media (max-width: 575px) {
    .preloader .animation-preloader .txt-loading {
        font-size: 36px;
        line-height: 58px;
    }
}
.preloader .animation-preloader .txt-loading .letters-loading {
    color: $secondaryColor;
    position: relative;
}
.preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.preloader .animation-preloader .txt-loading .letters-loading::before {
    -webkit-animation: letters-loading 4s infinite;
    animation: letters-loading 4s infinite;
    color: $primaryColor;
    content: attr(data-text-preloader);
    left: 1px;
    opacity: 0;
    position: absolute;
    top: -11px;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}
.preloader p {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #243342;
}

/*-- boxfin-scroll-top start --*/
.boxfin-scroll-top {
    position: fixed;
    right: 30px;
    bottom: 25px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: block;
    border-radius: 100%;
    box-shadow: inset 0 0 0 0.1rem rgba(128, 130, 134, 0.25);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0.75rem);
    transition: all 0.2s linear, margin-right 0s;
}
.boxfin-scroll-top.progress-done {
    visibility: visible;
    transform: translateY(0);
}
.boxfin-scroll-top-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $primaryColor;
}
.boxfin-scroll-top > svg path {
    fill: none;
}
.boxfin-scroll-top > svg.progress-circle path {
    stroke: $primaryColor;
    stroke-width: 4;
    box-sizing: border-box;
    transition: all 200ms linear;
}

@media (min-width: 1px) {
    .boxfin-scroll-top.progress-done {
        opacity: 1;
    }
}
/*-- boxfin-scroll-top end --*/

@-webkit-keyframes letters-loading {
    0%,
    75%,
    100% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
    25%,
    50% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}
@keyframes letters-loading {
    0%,
    75%,
    100% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
    25%,
    50% {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}
@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@-webkit-keyframes shakeY {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes shakeY {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes skewSpin {
    0% {
        -webkit-transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(0);
        transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(0);
    }
    100% {
        -webkit-transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(360deg);
        transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(360deg);
    }
}
@keyframes skewSpin {
    0% {
        -webkit-transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(0);
        transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(0);
    }
    100% {
        -webkit-transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(360deg);
        transform: skewX(-10deg) skewY(-15deg) rotateY(-40deg) rotate(360deg);
    }
}
@keyframes rotated-style3 {
    0% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
}
