@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1340px;
    }
}

@media only screen and (max-width: 1650px) {
    .sc-brand-section-two.sc-long-width2 {
        max-width: 1400px;
    }
    .sc-about-section-two .sc-about-text-box .sc-about-shape {
        right: -75px;
        top: 10px;
    }
    .sc-accordion-section-area .sc-essential-shape img {
        max-width: 720px;
    }
    .sc-footer-cta-two .sc-cta-content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .sc-footer-cta-two .sc-cta-content .sc-cta-form input {
        width: 95%;
    }
}

@media only screen and (max-width: 1520px) {
    .sc-header-content-left ul.white-color li a:hover {
        color: #ffffff;
    }
    .sc-footer-cta-two .sc-cta-content {
        margin-top: -19px;
    }
    .sc-slider-section .swiper-pagination {
        left: 24px;
    }
    .sc-cta-content-box .sc-cta-content .sc-cta-text {
        margin-right: 180px;
    }
}

@media only screen and (max-width: 1440px) {
    .sc-topbar-section-two .sc-header-date {
        margin-right: 20px;
    }
    .sc-brand-section-two.sc-long-width2 {
        max-width: 1300px;
    }
    .sc-price-item {
        padding: 50px 35px 50px;
    }
    .sc-arrow-btn .swiper .swiper-button-next {
        right: 22%;
    }
    .sc-arrow-btn .swiper .swiper-button-prev {
        left: 60%;
    }
    .sc-blog-date-box .sc-date-box {
        margin-right: 0;
    }
    .sc-blog-date-box .sc-blog-social ul li {
        font-size: 12px;
        margin-right: 10px;
    }
    .sc-topbar-section-three::before {
        width: 60%;
    }
    .sc-slider-section.sc-slider-style3 .slider-title {
        font-size: 48px;
    }
    .sc-footer-cta-two .sc-cta-content {
        flex: 0 0 80%;
    }
    .sc-footer-cta-two.sc-cta-content-box .cta-image2 img {
        min-height: 189px;
    }
    .sc-footer-cta-two .sc-cta-content {
        flex: 0 0 100%;
    }
    .sc-footer-cta-two.sc-cta-content-box .cta-image2 {
        display: none;
    }

    .sc-footer-section .sc-contact-number .number {
        font-size: 17px;
    }
    .sc-footer-section .border-style {
        padding: 18px 20px;
    }
    .sc-footer-section .sc-contact-number .icon-phone {
        margin-right: 20px;
    }
    .sc-counter-box .des {
        font-size: 18px;
    }
    .sc-testimonial-section-seven .swiper .swiper-button-prev {
        left: 70%;
    }
    .sc-testimonial-section-seven .swiper .swiper-button-next {
        right: 10%;
    }
}

/*as col-md*/
@media only screen and (max-width: 1366px) {
    .sc-cta-content-box .sc-cta-content .sc-cta-text {
        margin-right: 170px;
    }
    .sc-accordion-section-area .sc-essential-shape img {
        max-width: 600px;
    }
    .sc-team-pages-content-box .sc-page-btn .sc-white-btn-two,
    .sc-team-slider-pages-area .sc-pages-text-area .sc-slider-btn .sc-white-btn-two {
        padding: 20px 35px;
    }
    .sc-blog-text h4 {
        font-size: 20px;
    }
    .sc-recent-post .title {
        font-size: 15px;
    }
    .sc-ipade-pr-0 {
        padding-right: 0;
    }
    .sc-heading-area .title {
        font-size: 40px;
        line-height: 1.3;
    }
    .sc-service-content-box {
        padding: 30px 25px 35px;
    }
    .sc-slider-content-area .sc-testimonial-content .des {
        font-size: 25px;
    }
    .sc-brand-section-two.sc-long-width2 {
        border-radius: 0;
    }
    .counter-style-box-two .sc-count {
        font-size: 35px;
    }
    .counter-style-box-two .des {
        font-size: 14px;
    }
    .sc-team-content-area .sc-team-slider-area .sc-team-slider .sc-slider-btn .sc-white-btn-two {
        padding: 17px 20px;
    }
    .sc-cta-content-box .sc-cta-content {
        padding: 60px 50px 43.5px;
    }
    .sc-cta-content-box .sc-cta-content .sc-cta-text {
        margin-right: 120px;
    }
    .sc-cta-text h2 {
        font-size: 35px;
    }
    .sc-cta-style-three .sc-footer-cta-four .sc-cta-content .sc-cta-form input {
        width: 100%;
    }
    .sc-footer-style3 .sc-cta-section-area .sc-cta-content {
        padding: 45px 50px 27.5px;
    }
    .sc-cta-style-four .sc-footer-cta-four .sc-cta-content .sc-cta-form input {
        width: 113%;
    }
    .sc-cta-style-four .sc-secondary-btn-two {
        padding: 17px 14px;
    }
    .sc-cta-section-area .sc-cta-content-box .sc-cta-content {
        padding: 45px 50px 28.5px;
    }
    .sc-cta-section-area2 .sc-cta-content-box .sc-cta-content {
        padding: 60px 50px 43.5px;
    }
    .sc-blog-section-two .sc-blog-date-box .sc-blog-social {
        padding: 9px 15px;
    }
}
@media only screen and (max-width: 1366px) and (min-width: 1200px) {
    .sc-process-system .process-content {
        padding: 22px;
        font-size: 14px;
    }
}

/*as col-md*/
@media only screen and (max-width: 1199px) {
    .sc-topbar-section-two .sc-header-date {
        display: none;
    }
    .sc-menu-inner .sc-header-logo {
        padding-right: 45px;
    }

    .sc-main-menu > ul > li {
        margin-right: 30px;
    }
    .sc-header-content-two .sc-search-box {
        margin-right: 10px;
    }
    .sc-header-section .header-btn .sc-primary-btn {
        padding: 13px 15px;
    }
    .sc-statistics-service-box {
        padding: 43px 10px 40px;
    }
    .sc-service-text h4 {
        font-size: 19px;
    }
    .sc-services-style3 .sc-transparent-btn {
        padding: 13px 25px;
    }
    .counter-style-box-two .sc-counter-icon {
        margin-right: 15px;
    }
    .sc-statistics-style {
        padding: 60px 50px 30px;
    }
    .sc-services-style3 .service-title a {
        font-size: 18px;
    }
    .sc-statistics-area {
        padding-left: 40px;
    }
    .sc-statistics-service-box .sc-count {
        font-size: 35px;
    }
    .sc-price-item {
        padding: 50px 20px 50px;
    }
    .sc-arrow-btn .swiper .swiper-button-prev {
        left: 70%;
    }
    .sc-arrow-btn .swiper .swiper-button-next {
        right: 10%;
    }
    .sc-accordion-section-area .sc-essential-shape {
        top: 55px;
    }
    .sc-accordion-section-area .sc-essential-shape img {
        max-width: 500px;
    }
    .sc-cta-content-box .sc-cta-content {
        padding: 35px 30px 26.5px;
    }
    .sc-cta-section-area .sc-cta-content h2 {
        font-size: 26px;
    }
    .sc-about-section-two .sc-about-text-box .sc-about-shape {
        display: none;
    }
    .sc-slider-style2 .sc-slider-2 .container {
        padding-top: 150px;
    }
    .sc-slider-section .swiper-slide .shape-overly-one {
        width: 200px;
        height: 550px;
    }
    .sc-slider-content-area .sc-testimonial-content .des {
        font-size: 22px;
        line-height: 1.8;
    }
    .sc-heading-area .title {
        font-size: 36px;
    }
    .sc-blog-style2 .sc-blog-date-box {
        margin-left: 8px;
        margin-right: 8px;
    }
    .sc-blog-date-box .sc-blog-social ul li i {
        font-size: 15px;
    }
    .sc-blog-date-box .sc-date-box {
        min-width: 60px;
    }
    .sc-blog-date-box .sc-blog-social ul li {
        font-size: 11px;
        margin-right: 8px;
    }
    .sc-blog-date-box .sc-date-box {
        margin-right: 0;
    }
    .sc-blog-details-content-area .sc-details-auother .sc-auother-content {
        background: #f7f7f7;
        padding: 15px 35px 2px;
    }
    .sc-footer-subscribe {
        padding: 20px 30px;
    }
    .sc-blog-widget-inner .sc-blog-instagram .sc-blog-instagram-img {
        display: block !important;
    }
    .sc-blog-widget-inner .sc-blog-instagram .sc-blog-instagram-img img {
        margin-bottom: 5px;
    }
    .sc-team-pages-content-box .sc-page-btn .sc-white-btn-two {
        padding: 22px 10px;
        font-size: 16px;
    }
    .sc-about-area .sc-about-content-style {
        padding-left: 50px;
    }
    .sc-project-item img {
        width: 100%;
    }
    .sc-global-image .sc-images2,
    .sc-topbar-section .sc-header-content-right .sc-header-date .sc-date li,
    .sc-topbar-section .sc-header-content-left ul li:last-child {
        display: none;
    }
    .sc-service-style-three {
        padding-left: 18px;
        padding-right: 18px;
    }
    .counter-style-box-two {
        padding-left: 8px;
    }
    .sc-team-content-area .sc-team-slider-area {
        margin-right: -30px;
    }
    .sc-project-content-style img {
        width: 100%;
    }
    .sc-about-service-box {
        padding: 40px 15px 15px;
    }
    .sc-business-item .sc-business-text {
        padding: 40px 20px 20px;
    }
    .sc-counter-box .sc-count {
        font-size: 35px;
    }
    .sc-process-system-three .process-content {
        padding: 20px;
    }
    .sc-header-style1 .sc-topbar-section,
    .sc-header-style1 .sc-header-content {
        padding-left: 190px;
    }
    .sc-header-section .sc-main-logo {
        width: 170px;
        padding: 0 20px;
        height: 117px;
    }
    .sc-slider-form-box .sc-form-area {
        padding: 40px 25px 0;
    }
    .sc-form-section-area .sc-slider-form-box .sc-form-area {
        padding: 40px 0 0;
    }
    .sc-slider-style1 .sc-main-slider .container {
        padding-top: 140px;
        padding-bottom: 145px;
    }
    .sc-slider-style1 .sc-main-slider .slider-title {
        font-size: 45px;
    }
    .sc-slider-section .swiper-pagination {
        left: 8px;
    }
    .sc-slider-section .sc-slider-content {
        max-width: 445px;
    }
    .sc-cta-content-box .sc-cta-content .sc-cta-text {
        margin-right: 105px;
    }
    .sc-cta-btn .sc-secondary-btn {
        min-width: max-content;
    }
    .sc-margin-btm {
        margin-bottom: 25px;
    }
    .sc-cta-estimate {
        min-width: 145px;
        padding: 17px 25px;
    }
    .sc-form-pages-area .sc-slider-form-box .sc-form-area {
        padding: 40px 0 0;
    }
    .sc-cta-section-area .sc-cta-content-box .sc-cta-content {
        padding: 35px 30px 22.5px;
    }
    .sc-footer-service,
    .sc-footer-recent {
        padding-top: 40px;
    }
    .sc-cta-section-area2 .sc-cta-content-box .sc-cta-content {
        padding: 35px 30px 28.5px;
    }
    .sc-price-item {
        padding: 50px 15px 50px;
    }
    .sc-price-item .sc-content-area .sc-content-list .sc-list li {
        font-size: 15px;
    }
    .sc-price-item .sc-content-area .sc-content-list .sc-list li i {
        font-size: 19px;
    }
    .sc-price-item .price-shape-two {
        height: 107.2%;
    }
    .sc-service-section-four .sc-service-style-three .title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .sc-services-style3 .sc-services-icon i {
        width: 80px;
        height: 80px;
        line-height: 60px;
        font-size: 25px;
    }
    .sc-services-style3 .sc-service-text {
        padding-left: 40px;
        padding-top: 20px;
    }
    .sc-about-section-two .sc-about-text-box {
        width: 50%;
    }
    .sc-footer-cta-two .sc-secondary-btn {
        padding-left: 18px;
        padding-right: 18px;
    }
    .sc-cta-btn button {
        padding: 17px 20px;
    }
    .sc-service-style-four {
        padding: 35px 15px 25px;
    }
}

/*large mobile device*/
@media only screen and (min-width: 992px) {
    .sc-product-offcanvas-area .sc-canva-button,
    .sc-product-offcanvas-area .mobile-navbar-menu {
        display: none;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .sc-footer-subscribe .sc-subscribe-title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 991px) {
    .sc-form-section-area {
        padding-bottom: 80px;
    }
    .sc-team-section-area {
        padding-top: 80px;
        margin-top: 0;
    }
    .sc-header-section .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    .header-btn-area .canvas {
        display: inline-block !important;
    }
    .sc-ab-image,
    .sc-essential-image {
        text-align: start !important;
    }
    .sc-testimonial-section.long-gap {
        padding-top: 270px;
    }
    .sc-lg-hide,
    .sc-form-image,
    .sc-footer-cta .sc-cta-image,
    .sc-product-offcanvas-area .contact-map,
    .sc-offcanvas-icon-list,
    .sc-accordion-section-area .sc-essential-shape,
    .sc-product-offcanvas-area .sc-offcanvas-list-info,
    .sc-topbar-section .sc-header-content-left ul li:last-child {
        display: none;
    }
    .sc-header-content-two {
        padding: 14px 0;
    }
    .sc-statistics-area {
        padding-left: 15px;
    }
    .sc-menu-select-box .sc-hambagur-icon,
    .sc-about-section-two .sc-about-content-area {
        display: block !important;
    }
    .sc-about-section-two::before,
    .sc-about-section-two .sc-about-text-box,
    .sc-about-section-two .sc-about-bg-image {
        width: 100%;
    }
    .sc-form-inner {
        max-width: 100%;
    }
    .sc-service-content-box {
        margin-bottom: 50px;
    }
    .sc-statistics-section-area {
        padding-bottom: 80px;
    }
    .sc-brand-section-two,
    .sc-service-section-two {
        margin-top: 0;
    }
    .sc-project-section-two {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sc-accordion-section-area {
        padding-top: 255px;
    }
    .sc-footer-cta .sc-cta-content {
        flex: 0 0 100%;
    }
    .sc-topbar-section .sc-header-content-left ul li::before {
        display: none;
    }
    .sc-blog-text h4 {
        font-size: 18px;
    }
    .sc-arrow-btn .swiper .swiper-button-prev {
        left: 76%;
    }
    .sc-global-style-two {
        padding-top: 80px;
    }
    .sc-testimonial-section-seven {
        padding-top: 195px;
    }
    .sc-team-style-three {
        padding-top: 80px;
    }
    .sc-blog-item .sc-blog-text .title {
        font-size: 22px;
        line-height: 30px;
    }
    .sc-blog-date-box .sc-date-box {
        margin-right: 0;
    }
    .sc-team-slider-pages-area .sc-pages-text-area .sc-slider-btn .sc-white-btn-two {
        padding: 22px 20px;
        font-size: 18px;
    }
    .sc-faqs-area .sc-searchbar-area {
        max-width: 100%;
    }
    .sc-project-section-three {
        padding-bottom: 150px;
    }
    .sc-breadcrumb-style h1 {
        font-size: 55px;
    }
    .sc-about-area .sc-about-content-style {
        padding-left: 0;
    }
    .slider-bg-image3 {
        background-position: left center;
    }
    .sc-slider-section.sc-slider-style3 .sc-slider-content::before {
        left: 20px;
    }
    .slider-bg-image3 .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .sc-footer-cta-two .sc-cta-content {
        flex-wrap: wrap;
        padding-bottom: 34px;
    }
    .sc-footer-cta-two .sc-cta-content .sc-cta-text.m-0 {
        padding-right: 0;
        width: 100%;
        padding-bottom: 15px;
    }
    .sc-footer-cta-two .sc-cta-content .sc-cta-form input {
        width: 100%;
    }
    .sc-menu-inner .sc-header-logo {
        padding-right: 0;
    }
    .sc-header-section .sc-header-content-style3 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .sc-header-content-style3 .sc-hambagur-icon {
        margin-right: 0;
    }
    .sc-cta-style-two {
        margin-top: 0;
    }
    .sc-team-style-two .sc-slider-text h4 {
        font-size: 20px;
    }
    .sc-team-content-area .sc-team-slider-area .sc-team-slider .sc-slider-btn .sc-white-btn-two {
        font-size: 14px;
    }
    .section-shape {
        background-size: cover;
    }
    .sc-footer-cta-two .sc-cta-content {
        flex: 0 0 158%;
    }
    .sc-global-image {
        text-align: start !important;
    }
    .sc-about-group-image .sc-group {
        right: 0;
    }
    .counter-style-box-two {
        padding-left: 0;
        margin-bottom: 25px;
    }
    .sc-footer-subscribe .sc-primary-btn {
        min-width: 145px;
    }
    .sc-footer-subscribe input[type="submit"] {
        padding: 0 20px;
    }
    .sc-header-style1 .sc-header-content {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .sc-slider-form-inner {
        position: static;
    }
    .sc-slider-form-inner .sc-slider-form-box {
        margin: 0;
        max-width: 100%;
    }
    .sc-slider-style1 .sc-main-slider .container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .sc-business-item .shape-image {
        right: 0;
    }
    .sc-global-section-area {
        margin-top: 0;
        padding-top: 80px;
    }
    .sc-cta-style3 .sc-cta-content {
        justify-content: space-between;
        width: 100%;
    }
    .sc-cta-style3 .sc-cta-content .sc-cta-text {
        margin-right: 0;
    }
    .sc-cta-style3 .sc-cta-btn {
        width: auto;
    }
    .sc-cta-style3 .sc-cta-image {
        display: none;
    }
    .sc-price-item.sc-md-mt-95 {
        margin-top: 90px !important;
    }
    .sc-accordion-style-two {
        padding-top: 80px;
    }
    .sc-testimonial-section-six {
        padding-top: 80px;
    }
    .sc-footer-recent,
    .sc-footer-service {
        padding-top: 0;
    }
    .sc-counter-style-three {
        margin-top: 0;
    }
    .sc-slider-form-box .sc-form-area {
        padding: 40px 0 0;
    }
    .sc-cta-form-box {
        width: 100%;
        justify-content: start;
    }
    .sc-form-section-area .sc-slider-form-box .sc-form-area {
        padding-top: 0;
    }
    .sc-slider-style1 .sc-slider-form-box .sc-form-area {
        padding: 40px 35px 0;
    }
    .sc-page-error {
        padding-bottom: 120px;
    }
}

@media only screen and (max-width: 767px) {
    .sc-topbar-section-two::before {
        border-left: 0 solid transparent;
        border-right: 0px solid transparent;
        width: 100%;
    }
    .sc-slider-style2 .sc-slider-2 .container {
        padding-top: 100px;
        padding-bottom: 160px;
    }
    .sc-slider-style2 .slider-title {
        font-size: 50px;
    }
    .sc-footer-section .footer-about .about-icon li i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .sc-comment-conntent-area .sc-comment-auother,
    .sc-blog-details-content-area .sc-details-auother,
    .sc-footer-cta .sc-cta-content,
    .sc-footer-subscribe {
        display: block !important;
    }
    .sc-footer-subscribe .sc-form-inner {
        width: 100%;
        margin-top: 15px;
    }
    .sc-price-item.sc-price-bottom-two {
        margin-bottom: 85px;
    }
    .sc-footer-subscribe .sc-subscribe-title {
        text-align: center;
    }
    .sc-price-bottom {
        margin-bottom: 70px;
    }
    .sc-service-style-four {
        padding: 35px 25px 25px;
    }
    .sc-arrow-btn .swiper .swiper-button-next {
        right: 5%;
    }
    .sc-header-content-right {
        display: none !important;
    }
    .sc-blog-style2 .blog-img img {
        width: 100%;
    }
    .contact-box input[type="checkbox"] {
        margin: 10px 0px 10px;
    }
    .sc-blog-style2 .sc-blog-text h3 {
        font-size: 30px;
    }
    .check-image1 {
        margin-bottom: 30px;
    }
    .sc-progress {
        margin-bottom: 50px;
    }
    .sc-faq-style3 .accordion-item .accordion-header .accordion-button:before {
        right: 0;
    }
    .sc-faq-style3 .accordion-item .accordion-header .accordion-button {
        font-size: 16px;
    }
    .sc-project-details-inner .sc-image {
        margin-bottom: 30px;
    }
    .sc-topbar-section-three::before {
        border-right: 0px solid transparent;
        width: 100%;
    }
    .sc-header-content-left {
        text-align: center;
    }
    .sc-long-width,
    .sc-blog-section-area .blog-img img {
        width: 100%;
    }
    .sc-footer-section .border-style {
        margin-bottom: 50px;
    }
    .footer-menu-area {
        padding-left: 0;
        padding-top: 0;
    }
    .footer-menu-area-left {
        padding-top: 0;
    }
    .counter-style-box-two {
        margin-bottom: 20px;
    }
    .sc-team-content-area {
        display: block !important;
    }
    .sc-team-content-area .sc-team-left-content {
        width: 100%;
        margin-bottom: 40px;
    }
    .sc-team-content-area .sc-team-slider-area {
        width: 150%;
    }
    .sc-team-style-two {
        margin-top: 0;
        padding-top: 75px;
    }
    .sc-slider-section.sc-slider-style3 .slider-title {
        font-size: 40px;
    }
    .slider-bg-image3 .container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .sc-team-content-area .sc-team-slider-area {
        width: 100%;
    }
    .sc-pagination-active-30 {
        margin-left: 0;
        margin-right: 0;
    }
    .sc-team-content-area .sc-team-slider-area .swiper-pagination {
        text-align: center;
        left: 0;
    }
    .sc-pagination-active-30 {
        padding: 0;
    }
    .contact-box .sc-primary-btn {
        margin-top: 30px;
    }
    .sc-service-section-area .sc-service-btn {
        text-align: start !important;
    }
    .sc-testimonial-section-six .swiper-button-next,
    .sc-testimonial-section-six .swiper-button-prev,
    .sc-business-item .shape-image,
    .sc-testimonial-section-three .swiper-button-prev,
    .sc-testimonial-section-three .swiper-button-next {
        display: none !important;
    }
    .sc-global-section-area .sc-global-text h2 {
        font-size: 35px;
    }
    .sc-project-content-style .sc-project-content-box h4 {
        font-size: 18px;
    }
    .sc-project-content-style .sc-project-content-box .sc-project-icon i {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .sc-header-style1 .sc-header-content-left {
        text-align: end !important;
    }
    .sc-header-style1 .sc-header-content-left ul li {
        padding-right: 0;
    }
    .sc-price-item.sc-price-style {
        margin-bottom: 90px;
    }
    .sc-breadcrumb-style h1 {
        font-size: 40px;
    }
    .sc-cta-style-four .sc-secondary-btn-two {
        padding: 17px 25px;
    }
    .sc-team-details-area .sc-team-content h2 {
        font-size: 30px;
    }
    .sc-footer-user {
        padding-top: 45px;
        margin-bottom: 20px;
    }
    .sc-footer-recent {
        padding-top: 40px;
    }
    .sc-form-box-two {
        width: 65%;
    }
    .sc-form-box-two .sc-submit {
        min-width: 160px;
    }
    .sc-price-item {
        margin-right: 0;
    }
    .sc-page-error .error-text .error-code {
        font-size: 75px;
    }
    .sc-page-error .error-text h3.error-message {
        font-size: 35px;
    }
    .sc-page-error .error-text .error-code:after {
        width: 525px;
    }
}

/*medium mobile device*/
@media only screen and (max-width: 575px) {
    .sc-blog-details-content-area .sc-details-quote-text,
    .sc-auother-area.d-flex,
    .sc-footer-cta .sc-cta-content {
        display: block !important;
    }
    .sc-slider-style2 .slider-title {
        font-size: 40px;
    }
    .sc-heading-area .title,
    .sc-statistics-section-area .sc-heading-area .title {
        line-height: 1.4;
    }
    .sc-heading-area .title {
        font-size: 28px;
    }
    .sc-statistics-style {
        padding: 50px 25px 30px;
    }
    .sc-about-auother-box {
        margin: 0 0 20px;
    }
    .sc-services-style3 .sc-services-icon i {
        width: 80px;
        height: 80px;
        line-height: 60px;
        font-size: 25px;
    }
    .sc-services-style3 .sc-service-text {
        padding-left: 40px;
        padding-top: 20px;
    }
    .sc-slider-section .swiper-pagination,
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    .sc-primary-btn-two {
        padding: 14px 0;
    }
    .sc-blog-style2 .sc-blog-text h3 {
        font-size: 24px;
    }
    .sc-blog-details-content-area .detail-title {
        font-size: 25px;
    }
    .sc-team-details-area .sc-team-content {
        padding-left: 10px;
    }
    .sc-team-content .personal-info li {
        font-size: 18px;
    }
    .sc-error-pages-area .heading-title {
        font-size: 30px;
    }
    .sc-project-content-area h2 {
        font-size: 35px;
    }
    .sc-inner-list h5 {
        font-size: 18px;
    }
    .sc-price-item .price-shape-two {
        height: 107.1%;
    }
    .sc-project-content-style img {
        width: 100%;
    }
    .sc-cta-btn button {
        padding: 17px 22px;
    }
    .sc-slider-section .swiper-pagination {
        left: 10px;
    }
    .sc-global-item .sc-global-content-box .sc-global-icon {
        margin-bottom: 25px;
    }
    .sc-global-section-area {
        padding-top: 80px;
        margin-top: 0;
    }
    .sc-brand-section-area {
        padding-bottom: 80px;
    }
    .sc-brand-image-box .sc-brand-image:last-child {
        text-align: center;
    }
    .sc-process-system .process-content::before,
    .sc-slider-section.sc-slider-style3 .sc-slider-content::before {
        display: none !important;
    }
    .slider-bg-image3 .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .sc-xs-mt-40 {
        margin-top: 0;
    }
    .sc-header-style1 .container {
        padding-left: 0;
    }
    .sc-cta-form.sc-cta-input {
        margin-bottom: 0;
    }
    .sc-form-box-two {
        width: 100%;
    }
    .sc-slider-style2 .video-area {
        margin-top: 0 !important;
        padding-left: 15px;
    }
    .sc-page-error .error-text .error-code:after {
        width: 425px;
    }
    .sc-header-section .header-btn .sc-primary-btn {
        padding: 13px 13px;
    }
}

/*medium mobile device*/
@media only screen and (max-width: 480px) {
    .sc-footer-subscribe .sc-subscribe-title {
        font-size: 22px;
    }
    .sc-content-input,
    .sc-cta-form-box,
    .sc-auother-style,
    .sc-process-system,
    .sc-global-content-box,
    .sc-about-area .sc-about-auother-box,
    .sc-details-comment-auother,
    .sc-blog-details-content-area .sc-detaile-tags-list,
    .sc-blog-widget-inner .sc-blog-post .sc-post-auother,
    .slider-btn-area,
    .sc-about-item,
    .sc-services-style3,
    .sc-footer-subscribe .sc-form-inner {
        display: block !important;
    }
    .sc-footer-subscribe .input-field,
    .sc-footer-subscribe .sc-primary-btn {
        min-width: 100%;
    }
    .sc-footer-subscribe .sc-primary-btn {
        margin-top: 20px;
    }
    .sc-click-text {
        max-width: 300px;
        padding: 16px 20px;
    }

    .sc-faq-style .accordion-item .accordion-header .accordion-button,
    .sc-about-content-style .sc-heading-area .description,
    .sc-slider-content-area .sc-testimonial-content .des {
        font-size: 18px;
    }
    .sc-services-style3 .sc-service-text {
        padding-top: 95px;
    }
    .sc-services-style3 .sc-service-text {
        padding-left: 0;
    }
    .sc-services-style3 .sc-services-icon {
        left: 15px;
        top: 0;
    }
    .sc-price-item {
        padding: 50px 8px 50px;
    }
    .sc-header-style1 .sc-header-content {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sc-header-section .sc-main-logo {
        height: 103px;
        line-height: 103px;
    }
    .sc-slider-section .video-area {
        margin-left: 0;
        margin-top: 20px;
    }
    .sc-topbar-section-two::before {
        border-bottom: 75px solid #e42032;
    }

    .sc-blog-section-area .sc-Consultancy,
    .sc-header-content-two::before,
    .sc-header-section .header-btn .sc-primary-btn {
        display: none !important;
    }
    .sc-services-style3 .sc-service-image img {
        width: 100%;
    }
    .sc-blog-date-box .sc-date-box {
        margin-right: 0;
    }
    .sc-blog-widget-inner .sc-blog-post .sc-post-auother .sc-auother-image {
        width: 100%;
        margin-right: 0;
    }
    .sc-blog-widget-inner .sc-blog-post .sc-post-auother .sc-auother-image img {
        width: 100%;
        margin-bottom: 25px;
    }
    .sc-blog-details-content-area .sc-detaile-tags-list .sc-detail-social .list-gap li i {
        margin-left: 0;
        margin-top: 15px;
    }
    .sc-blog-details-content-area .sc-detaile-tags-list .sc-detail-social {
        margin-top: 15px;
    }
    .sc-team-slider-pages-area .sc-pages-text-area .sc-slider-btn .sc-white-btn-two {
        padding: 18px 15px;
        font-size: 16px;
    }
    .sc-faq-style3 .accordion-item .accordion-header .accordion-button {
        font-size: 17px;
    }
    .sc-faq-style3 .accordion-item .accordion-header .accordion-button:before {
        right: -10px;
    }
    .sc-process-system:nth-child(odd) .process-content {
        margin-left: 0;
    }
    .sc-process-system .process-icon {
        margin-bottom: 30px;
    }
    .sc-topbar-section-three::before {
        border-top: 75px solid #03041c;
    }
    .sc-topbar-section .sc-header-content-left ul li:first-child {
        padding-bottom: 5px;
    }
    .sc-topbar-section-two {
        padding: 8.5px 0;
    }
    .sc-header-content-two {
        padding: 20px 0;
    }
    .sc-topbar-section .sc-header-content-left ul li {
        display: block;
        padding: 0;
    }
    .sc-menu-select-box .sc-hambagur-icon {
        margin-right: 0;
    }
    .sc-about-content-style .sc-auother-style-box .sc-shape-icon {
        max-width: 70px;
    }
    .sc-auother-content {
        margin-top: 25px;
    }
    .sc-blog-date-box .sc-blog-social {
        padding: 9px 4px;
    }
    .sc-slider-section .sc-slider-content .slider-desc {
        font-size: 16px;
    }
    .sc-slider-section.sc-slider-style3 .slider-title {
        font-size: 27px;
    }
    .sc-blog-date-box .sc-blog-social ul .sc-consoltancy {
        display: none !important;
    }
    .slider-btn-area {
        display: flex !important;
    }
    .sc-slider-section.sc-slider-style3 .sc-white-btn {
        padding: 14px 18px;
    }
    .sc-slider-section.sc-slider-style3 .sc-transparent-btn {
        padding: 11.5px 18px;
    }
    .sc-ab-area {
        display: block !important;
    }
    .sc-footer-cta-two .sc-cta-content {
        flex: 0 0 100%;
    }
    .sc-cta-form {
        margin-bottom: 20px;
    }
    .services_scroll_slider .swiper-pagination {
        max-width: 270px;
    }
    .services_scroll_slider .swiper-pagination .swiper-pagination-progressbar-fill {
        width: 250px;
    }
    .counter-style-box-two .sc-count {
        font-size: 30px;
    }
    .video-area {
        margin-top: 25px;
    }
    .sc-process-system:nth-child(even) .process-content {
        margin-right: 0;
    }
    .sc-heading-area .title {
        font-size: 25px;
    }
    .sc-slider-section.sc-slider-style3 .sc-slider-content {
        padding: 35px 0 32px 20px;
    }
    .slider-btn-two {
        display: block !important;
    }
    .sc-slider-style1 .sc-main-slider .slider-title {
        font-size: 35px;
    }
    .slider-btn-area .video-iconarea {
        padding-left: 0;
        margin-top: 15px;
    }
    .sc-test-item {
        padding: 35px 9px 40px;
    }
    .sc-services-item {
        padding: 30px 20px 25px 55px;
    }
    .sc-service-content h4 {
        font-size: 19px;
    }
    .sc-slider-form-box .sc-form-area {
        padding: 40px 15px 0;
    }
    .sc-slider-form-box .form-title {
        font-size: 25px;
    }
    .sc-header-section .sc-main-logo {
        width: 160px;
        padding: 0 16px;
    }
    .sc-header-style1 .sc-topbar-section,
    .sc-header-style1 .sc-header-content {
        padding-left: 176px;
    }
    .sc-cta-style3 .sc-cta-content {
        display: block !important;
    }
    .sc-counter-box .sc-count {
        font-size: 30px;
    }
    .sc-cta-content-four {
        display: block !important;
    }
    .sc-content-input .sc-cta-input {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .sc-cta-style-four .sc-footer-cta-four .sc-cta-content .sc-cta-form input {
        width: 100%;
    }
    .sc-blog-date-box .sc-blog-social ul li {
        font-size: 10px;
    }
    .sc-filter-top {
        margin-top: 15px;
    }
    .sc-team-pages-content-box .sc-page-btn .sc-white-btn-two {
        padding: 18px 10px;
        font-size: 16px;
    }
    .sc-details-social .team-content .team-title {
        font-size: 25px;
    }
    .sc-team-content .personal-info li,
    .sc-team-content .personal-info li a {
        font-size: 16px;
    }
    .sc-faq-style .accordion-item .accordion-header .accordion-button {
        font-size: 17px;
    }
    .sc-blog-video-image .sc-blog-video i {
        font-size: 22px;
        width: 65px;
        height: 65px;
        line-height: 60px;
    }
    .sc-blog-video-image .sc-blog-video {
        top: 40%;
    }
    .sc-blog-navigation .list-gap li .navigation-border {
        width: 40px;
        height: 46px;
        line-height: 46px;
    }
    .sc-about-section-three .slider-btn-area,
    .sc-slider-style2 .slider-btn-area {
        display: block !important;
    }
    .sc-slider-style2 .video-area {
        margin-top: 20px !important;
        padding-left: 0;
    }
    .sc-white-btn {
        padding: 15px 35px;
    }
    .sc-slider-style1 .sc-slider-form-box .sc-form-area {
        padding: 40px 20px 0;
    }
    .sc-blog-section-two .sc-blog-date-box .sc-blog-social {
        padding: 9px 4px;
    }
    .sc-product-offcanvas-area {
        width: 300px;
    }
    .sc-page-error .error-text .error-code {
        font-size: 55px;
    }
    .sc-page-error .error-text h3.error-message {
        font-size: 25px;
    }
    .sc-page-error .error-text .error-code:after {
        width: 270px;
    }
}
/*small mobile device*/
@media only screen and (max-width: 374px) {
    .sc-header-section .sc-main-logo {
        width: 136px;
        padding: 0 12px;
    }
    .sc-header-style1 .sc-topbar-section,
    .sc-header-style1 .sc-header-content {
        padding-left: 135px;
    }
    .sc-page-error .error-text form input {
        max-width: 280px;
    }
    .sc-page-error .error-text form button {
        right: 20px;
    }
}
