@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
$bodyFont: "Roboto", sans-serif;
$titleFont: "Inter Tight", sans-serif;
$otherFont: "Inter Tight", sans-serif;
$primaryColor: #e42032;
$secondaryColor: #0b0f28;
$bodyColor: #6a6c71;
$whiteColor: #ffffff;
$titleColor: #03041c;
$grayColor: #6e7075;
$grayColor: #6e7075;
$darkColor: #353950;

// Extra
$thirdColor: #17975a;
$darkerColor: #f8f8f8;
$greenColor: #70ef34;
$whiteColor0_8: rgba(255, 255, 255, 0.8);
